<footer>
    <div class="container">
        <div class="footer-top">
            <ul>
                <li><a href="#">社区</a></li>
                <li><a href="#">团队</a></li>
                <li><a href="#">商城</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">个人中心</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-9">
                    <p> <span class="glyphicon glyphicon-earphone"></span> 全国客服热线：0760-86113668 </p>
                    <p> <span class="glyphicon glyphicon-envelope"></span> 邮箱：zuochuang@xinxinggd.net </p>
                    <p> <span class="glyphicon glyphicon-map-marker"></span> 公司地址：广东省中山市富湾东路8号4卡 </p>
                    <p>广东信兴科技有限公司    Copyright 2017 All Right Reserved 粤ICP备06016855号-8</p>
                </div>
                <div class="col-lg-3">
                    <div class="icon-box"> <span><img src="__STATIC__/zuochuang/img/ico01.png"></span> <span><img src="__STATIC__/zuochuang/img/ico02.png"></span> <span><img src="__STATIC__/zuochuang/img/ico03.png"></span> </div>
                </div>
            </div>
        </div>
    </div>
</footer>